{% extends "base.html" %}

{% block title %}
	<title>Home</title>
{% endblock %}

{% block content %}
	<h1 class="text-center">The Swords of Game of Thrones</h1>
	<h1 class="text-center">Home</h1>
	<h2 class="text-center">Usage Instructions</h2>
	<div class="text-center">
		<br>
		<p>Click the Home button or the "Game of Thrones" logo to return to the home page.</p>
		<p>Click the Swords button to access the list of swords.</p>
		<p>Click the Materials button to access the list of materials.</p>
		<p>Click the Owners button to access the list of owners.</p>
		<p>Click the Upload button to upload a custom sword.</p>
		<p>Click the Delete button to delete a sword.</p>
	</div>
{% endblock %}}
