<!-- This page is displayed at /swords/<sword_name>/ --!>

{% extends "base.html" %}

{% block title %}
	{% for sword in swords %}
		{% if sword_name == sword["name"] %}
			<title>{{ sword["name"] }}</title>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block content %}
	{% for sword in swords %}
		{% if sword_name == sword["name"] %}
			<h1 class="text-center">{{ sword["name"] }}</h1>
			<div class="text-center">
				<img class="sword-image" src="/static/images/{{ sword["name"] }}.png" alt="{{ sword["name"] }}">
			</div>
			<div class="text-center sword-text">
				<p><b>Material:</b> {{ sword["material"] }}</p>
				<p><b>Owner:</b> {{ sword["owner"] }}</p>
				<p><b>Status:</b> {{ sword["status"] }}</p>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
